version: "3.9"

services:
  db:
    image: postgres:16
    container_name: dms_db
    environment:
      POSTGRES_DB: dms
      POSTGRES_USER: dms
      POSTGRES_PASSWORD: dms
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: dms_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
