version: "3.9"

services:
  db:
    image: postgres:16
    container_name: dms_db
    environment:
      POSTGRES_DB: dms
      POSTGRES_USER: dms
      POSTGRES_PASSWORD: dms
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: dms_redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: dms_celery
    command: celery -A config worker -l info
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - .:/app

  backend:
    build: .
    container_name: dms_backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - .:/app

volumes:
  postgres_data:
